* {
    padding: 0px;
    margin: 0px;
}

body {
    background: black;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.contain {
margin-top: 30px;
background: #D97D0D;
width: 80vw;
min-width: 400px;
height: 70vh;
border-radius: 45px;
position: relative;
display: flex;
justify-content:space-around;
align-items: center;
}

.call {
    display: flex;
    height: 150px;
    width: 100vw;
    background-color: #F2522E;
    justify-content: center;

}

.focus {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
}


h1 {
    top: 20px;
    left: 75px;
    font-size: 48px;
    position: absolute;
    color: wheat;
    
}

#price {
position: absolute;
top: 25px;
right: 150px;
color: wheat;
font-size: 45px;
font-weight: bolder;
}

.info {
    display: block;
    margin: 10px;
    margin-left: 145px;
}

.infored {
    display: flex;
    flex-direction: column;
    background-color: #F2522E;
    margin: 5px;
    padding: 5px;
    border-radius: 15px;
    height: 45px;
    justify-content: center;
    align-items: center;
    color: beige;
}

.infoyellow {

    display: flex;
    background-color: #F2a922;
    margin: 10px;
    padding: 5px;
    border-radius: 15px;
    height: 85px;
    justify-content: center;
    align-items: center;

}

.infored span {

    font-size: 11px;
    position: relative;
    
}

#calcprinpal {
    height: 300px;
}

.cards {
    display: flex;
    flex-direction: column;
    width: max-content;
}

.cards img {
    
   margin-top: 10px;
    
}

.call img {
   bottom: 60px;
    position: absolute;
}

#calc2 {
    position: absolute;
    height: 100px;
    bottom: 120px;
    right: 250px;
    transform: rotateZ(45deg);
}