* {
    padding: 0px;
    margin: 0px;
}

.off {
    display: none;
}

body {
    background: black;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.contain {
margin-top: 30px;
background: #D97D0D;
width: 80vw;
min-width: 400px;
height: 70vh;
border-radius: 45px;
position: relative;
display: flex;
justify-content:space-around;
align-items: center;
}

.call {
    display: flex;
    position: absolute;
    height: 30vh;
    width: 100vw;
    background-color: #F2522E;
    justify-content: center;
    bottom: -20px;

}


h1 {
    top: 20px;
    text-align: center;
    font-size: 48px;
    position: absolute;
    color: wheat;
    text-shadow: black 4px 4px ;
    
}

#price {

color: wheat;
font-size: 45px;
font-weight: bolder;
text-shadow: black 4px 4px ;
}

.priceimg {
    display: flex;
}

.info {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    
}

.infored {
    width: 250px;
    display: flex;
    flex-direction: column;
    background-color: #F2522E;
    margin: 5px;
    padding: 5px;
    border-radius: 15px;
    height: 45px;
    justify-content: center;
    align-items: center;
    color: beige;
    box-shadow: black 2px 2px;
}

.infoyellow {

    width: 300px;
    display: flex;
    background-color: #F2a922;
    margin: 10px;
    padding: 5px;
    border-radius: 15px;
    height: 85px;
    justify-content: center;
    align-items: center;
    box-shadow: black 2px 2px;
    position: relative;

}

#plus {
    position: absolute;
    width: 15px;
    right: 8px;
    bottom: 8px;
    cursor: pointer;
    
}

#plusInfo {
    position: absolute;
    height: 400px;
    width: 98vw;
    z-index: 99;
    background-color: #F2a922;
    
}

#close {
    position: absolute;
    height: 45px;
    width: 45px;
    right: 8px;
    top: 16px;
    color: red;
    font-weight: bolder;
    border: red solid 1px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    font-size: 35px;
}

.infored span {

    font-size: 11px;
    position: relative;
    
}

#calcprinpal {
    height: 300px;
    position: relative;
    
}

.cards {
    display: flex;
    width: max-content;
}

.cards img {
    
    width: 30px;
  
}

#calc2 {
    position: absolute;
    height: 100px;
    bottom: 120px;
    right: 250px;
    transform: rotateZ(45deg);
}

.buttonwhats {
    position: relative;
    bottom: 60px; 
    width: 199px;
    height: 199px;
    border-radius: 50%;
    box-shadow: black 2px 5px;
    z-index: 101;
}


#logo {

    position: absolute;
    right: 5px;
    top: 2px;
    z-index: 100;
}

#blockone{
    display: flex;
}

footer {
    margin-top: 0px;
    background-color: #000000;
    color: white;
}

@media (max-width:1200px){

.contain {
    display: flex;
    flex-direction: column;
}

#blockone {
    margin-top: 45px;
}

.cards {
    display: flex;
    position: relative;
    left: 150px;

}

}

@media (max-width:960px){



    .contain {
        
        background: #D97D0D;
        width: 80vw;
        min-width: 400px;
        border-radius: 45px;
        display: flex;
        
        
        }
    .contain {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    
    #blockone {
        flex-direction: column;
        margin-top: 45px;
    }
    
    .cards {
        display: flex;
        position: relative;
        left: 150px;
        margin-bottom: 10px;
    
    }

    #calcprinpal {
        height: 150px;
        
    }

    .infoyellow {

        width: 300px;
        display: flex;
        background-color: #F2a922;
        margin: 5px;
        padding: 2px;
        border-radius: 15px;
        height: 55px;
        box-shadow: black 2px 2px;
        text-align: left;
        margin-bottom: 35px;
    
    }   

    .infored {
        width: 250px;
        display: flex;
        flex-direction: column;
        background-color: #F2522E;
        margin: 5px;
        padding: 5px;
        border-radius: 15px;
        height: 25px;
        justify-content: center;
        align-items: center;
        color: beige;
        box-shadow: black 2px 2px;
    }
    
    
    }