* {
    padding: 0px;
    margin: 0px;
}

.off {
    display: none;
}

body {
    background: rgb(255, 255, 255);
    overflow: hidden;
   
}

html {
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(IMG/webP/logo.webp);
    background-size: 100px;
    background-repeat: repeat;
    background-position: right 0px;
   
}

.contain {
margin-top: 30px;
background: #D97D0D;
width: 80vw;
min-width: 400px;
height: 70vh;
border-radius: 45px;
position: relative;
display: flex;
justify-content:space-around;
align-items: center;
box-shadow: #0a0a0a 2px 2px 10px;
}

h1 {
    font-family: 'Libre Bodoni', serif;
    top: 45px;
    text-align: center;
    font-size: 48px;
    position: absolute;
    color: wheat;
    text-shadow: black 2px 2px ;
    
}

#price {
font-family: 'Libre Bodoni', serif;
color: wheat;
font-size: 45px;
font-weight: bolder;
text-shadow: black 2px 4px ;
}

.priceimg {
    display: flex;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    
}

.infored {
    width: 250px;
    display: flex;
    flex-direction: column;
    background-color: #F2522E;
    margin: 5px;
    padding: 5px;
    border-radius: 15px;
    height: 45px;
    justify-content: center;
    align-items: center;
    color: beige;
    box-shadow: black 2px 2px;
}

.infoyellow {

    width: 300px;
    display: flex;
    background-color: #F2a922;
    margin: 10px;
    padding: 5px;
    border-radius: 15px;
    height: 85px;
    justify-content: center;
    align-items: center;
    box-shadow: black 2px 2px;
    position: relative;

}

#plus {
    position: absolute;
    width: 15px;
    right: 8px;
    bottom: 8px;
    cursor: pointer;
    
}

#plusInfo {
    position: absolute;
    height: max-content;
    width: 98vw;
    z-index: 99;
    background-color: #F2a922;
    
}

h2 {
    text-align: center;
}

h4 {
    text-align: left;
}

ul {
    align-items: center;
    text-decoration: none;
    margin: 35px;
}

li {
    list-style-type: none;
}

#close {
    position: absolute;
    background-color: rgb(11, 12, 12);
    height: 40px;
    width: 40px;
    right: 8px;
    top: 36px;
    color: #F2522E;
    font-weight: bolder;
    font-size: 35px;
    border: #F2522E solid 1px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

.infored span {

    font-size: 11px;
    position: relative;
    
}

#calcprinpal {
    height: 300px;
    position: relative;
    
}

.cards {
    display: flex;
    width: max-content;
}

.cards img {
    
    width: 30px;
  
}

#calc2 {
    position: absolute;
    height: 100px;
    bottom: 120px;
    right: 250px;
    transform: rotateZ(45deg);
}

.buttonwhats {
    position: relative;
    bottom: 60px; 
    width: 199px;
    height: 199px;
    border-radius: 50%;
    box-shadow: black 2px 5px;
    z-index: 101;
}


#logo {

    position: absolute;
    right: 5px;
    top: 2px;
    z-index: 100;
}

#blockone{
    display: flex;
}

#callwhats {
position: absolute;
z-index: 111;
bottom: 170px;
width: 100px; 
height: 100px;
font-size: large;
font-weight: bolder;
text-align: center;
color: #F2522E;
border-radius: 50%;


}
#callwhats a {
    text-decoration: none;
    color: #F2522E;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: #0a0a0a;
    color: white;
    width: 100vw;
    z-index: 110;
}

@media (max-width:1200px){

.contain {
    display: flex;
    flex-direction: column;
}

#blockone {
    margin-top: 45px;
}

.cards {
    display: flex;
    position: relative;
    left: 150px;

}

}

@media (max-width:960px){

    h1 {
        font-size: 28px;
    }


    .contain {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    
    #blockone {
        flex-direction: column;
        margin-top: 45px;
    }
    
    .cards {
        display: flex;
        position: relative;
        left: 150px;
        margin-bottom: 10px;
    
    }

    #calcprinpal {
        height: 150px;
        
    }

    .infoyellow {

        width: 300px;
        display: flex;
        background-color: #F2a922;
        margin: 5px;
        padding: 2px;
        border-radius: 15px;
        height: 55px;
        box-shadow: black 2px 2px;
        text-align: left;
        margin-bottom: 35px;
    
    }   

    .infored {
        width: 250px;
        display: flex;
        flex-direction: column;
        background-color: #F2522E;
        margin: 5px;
        padding: 5px;
        border-radius: 15px;
        height: 25px;
        justify-content: center;
        align-items: center;
        color: beige;
        box-shadow: black 2px 2px;
    }
    
    .call {

        height: 15vh;
    }

    .buttonwhats {
        position: relative;
        bottom: 5px; 
        width: 199px;
        height: 199px;
        border-radius: 50%;
        box-shadow: black 2px 5px;
        z-index: 101;
    }

    #callwhats {
        position: absolute;
        z-index: 111;
        bottom: 110px; 
        font-size: large;
        font-weight: bolder;
        text-align: center;
        color: #F2522E;
        
        
        }

        #close {
            
            right: 8px;
            top: 66px;
            
           
            
        }
    
    }

    @media (max-height:550px){

        h1 {
            font-size: 28px;
            margin-right: 150px;
            margin-top: -30px;
            
        }
    
        .contain {
            
            background: #D97D0D;
            width: 95vw;
            min-width: 400px;
            border-radius: 45px;
            display: flex;
            flex-direction: row;
            
            }
        
        
        #blockone {
            flex-direction: row;
            margin-top: 45px;
        }
        
        .cards {
            display: none;
        
        }
    
        #calcprinpal {
            height: 150px;
            
        }
    
        .infoyellow {
    
            width: 300px;
            display: flex;
            background-color: #F2a922;
            margin: 5px;
            padding: 2px;
            border-radius: 15px;
            height: 65px;
            box-shadow: black 2px 2px;
            text-align: left;
            margin-bottom: 35px;
        
        }   
    
        .infored {
            width: 250px;
            display: flex;
            flex-direction: column;
            background-color: #F2522E;
            margin: 5px;
            padding: 5px;
            border-radius: 15px;
            height: 25px;
            justify-content: center;
            align-items: center;
            color: beige;
            box-shadow: black 2px 2px;
        }
        
        .call {
    
            height: 15vh;
        }
    
        .buttonwhats {
            position: relative;
            bottom: 35px; 
            width: 199px;
            height: 199px;
            border-radius: 50%;
            box-shadow: black 2px 5px;
            z-index: 101;
        }
    
        #callwhats {
            position: absolute;
            z-index: 111;
            bottom: 70px; 
            font-size: large;
            font-weight: bolder;
            text-align: center;
            color: #F2522E;
            
            
            }

        #plusInfo {
             position: absolute;
             height: 330px;
             width: 80vw;
             z-index: 99;
             background-color: #F2a922;
            margin: auto;

            }

            #plusInfo h2{
                    margin-top: 10px;
            }

            #plusInfo ul {
                margin-top: 2px;
                font-size: 11px;
            }

            
       #close {
           position: absolute;
           background-color: rgb(11, 12, 12);
           height: 40px;
           width: 40px;
           right: 180px;
           top: 36px;
           color: #F2522E;
           font-weight: bolder;
           font-size: 35px;
           border: #F2522E solid 1px;
           border-radius: 50%;
           text-align: center;
           cursor: pointer;
}
        
        }